doctype html  
html
	head
		title 彩虹花開
	meta(name="viewport" content="width=device-width, initial-scale=1")
	script(src="//code.jquery.com/jquery-3.1.1.min.js")
	link(rel="stylesheet" href="//cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css")
	link(rel="stylesheet" type="text/css" href="style/rainbowblooming.css")
	// Bootstrap
	link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	script(type="text/javascript" src="https:///maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	// dhtmlx gantt
	script(type="text/javascript" src="//cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js")
	script(type="text/javascript" src="js/codebase/ext/dhtmlxgantt_fullscreen.js")
	script(type="text/javascript" src="js/codebase/ext/dhtmlxgantt_marker.js")
	script(type="text/javascript" src="js/codebase/ext/dhtmlxgantt_tooltip.js")
	// TW
	script(type="text/javascript" src="js/codebase/locale/locale_tw.js" charset="utf-8")
	// read from google
	script(src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js')
	style(media='screen') html,body { height:100%; padding:0px; margin:0px; overflow: hidden;}
	body
		div.container
			block content
