html
	head
		script(src="//code.jquery.com/jquery-3.1.1.min.js")
		// Bootstrap
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		script(type="text/javascript" src="https:///maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="https://apis.google.com/js/platform.js" async defer)
		meta(name="google-signin-client_id" content="712853165091-ddk7io2fnhhd3h0g82vr6hrashunt9bt.apps.googleusercontent.com")
	body
		div(id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
						h1(class="modal-title text-center") 彩虹花開

					div(class="modal-body pull-center")
						form(action="/auth/google")
							button(type="submit" class="primary" id="login") 登入
						div(id="my-signin2")

					div(class="modal-body pull-center")
						form(method="post" action="/login")
							input(type="text" id="username" name="username" value="hao" hidden="true")
							input(type="password" id="password" name="password" value="pwd" hidden="true")
							button(type="submit" class="primary" id="login_btn") local 登入
						div(id="my-signin2")

					div(class="modal-footer")

		script.
			function onSuccess(googleUser) {
				var profile = googleUser.getBasicProfile();
				console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
				console.log('Name: ' + profile.getName());
				console.log('Image URL: ' + profile.getImageUrl());
				console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
			}
			
			function onFailure(error) {
				console.log(error);
			}
		 
			function renderButton() {
				gapi.signin2.render('my-signin2', {
					'scope': 'profile email',
					'width': 240,
					'height': 50,
					'longtitle': true,
					'theme': 'dark',
					'onsuccess': onSuccess,
					'onfailure': onFailure
				});
			}

//		script(src="https://apis.google.com/js/platform.js?onload=renderButton" async defer)
